---
import { techStackMap } from "../../lib/techStackMap";
import type { Project } from "../../models/Project";
import { Clock } from "../svgs/Clock";
import { Code } from "../svgs/Code";
import { Padlock } from "../svgs/Padlock";
import AvailableLink from "./AvailableLink.astro";
import UnavailableLink from "./UnavailableLink.astro";

type Props = Project;

const { name, url, stack, githubURL, developing } = Astro.props;
---

<div
  class={`
    relative flex flex-col w-full
    gap-3 p-5 rounded-xl
    outline-2 outline-primary/50
    hover:outline-primary hover:shadow-lg hover:shadow-primary/50 hover:-translate-y-1 transition-all
    bg-primary/50 text-white
  `}
>
  <h3 class="font-bold text-2xl">{name}</h3>
  <div class="font-medium grow">
    <slot />
  </div>
  <div>
    <div class="flex flex-wrap gap-2">
      {
        stack &&
          stack.map((s: string) => {
            const t = techStackMap[s];

            return (
              <div
                style={`background-color: ${t.color}50; outline: 1px solid ${t.color}90`}
                class="flex items-center gap-1 rounded-lg p-1.5"
              >
                <img src={t.path} class="size-5 shrink-0" alt={t.name} />
                <p class="cursor-default">{t.name}</p>
              </div>
            );
          })
      }
    </div>
  </div>

  <div
    class="grid grid-cols-[1fr_1fr] divide-x divide-secondary/35 w-full rounded-lg outline-1 outline-secondary/35 overflow-hidden"
  >
    {
      developing ? (
        <UnavailableLink developing>
          <span class="size-2 border-1 border-t-transparent animate-spin rounded-full [animation-duration:5s]" />
          In development
        </UnavailableLink>
      ) : (
        <>
          {url ? (
            <AvailableLink href={url}>
              <div class="flex items-center justify-center text-green-300 animate-pulse group-hover:!animate-none [animation-duration:3.5s]">
                <span class="inline-block size-2 rounded-full bg-green-300 mr-1" />
                Live
              </div>
            </AvailableLink>
          ) : (
            <UnavailableLink>
              <Clock className="size-5" />
              Demo coming soon
            </UnavailableLink>
          )}{" "}
          {githubURL ? (
            <AvailableLink href={githubURL}>
              <Code className="size-5" />
              Code
            </AvailableLink>
          ) : (
            <UnavailableLink>
              <Padlock className="size-5" />
              Client Project
            </UnavailableLink>
          )}
        </>
      )
    }
  </div>
</div>
