---
import { techStackMap } from "../lib/techStackMap";
import type { Project } from "../models/Project";
import TRArrow from "./svgs/TRArrow.astro";

type Props = Project;

const { name, url, stack } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class={`
    group relative flex flex-col
    w-full sm:h-85 gap-3 p-5 rounded-xl
    outline-2 outline-primary/50
    hover:outline-primary hover:shadow-lg hover:shadow-primary/50
    hover:-translate-y-1
    bg-primary/50 text-white
    transition-all
  `}
>
  <TRArrow
    classes={`
      absolute top-5 right-5
      size-5
      text-primary
      group-hover:-translate-y-1 group-hover:translate-x-1 group-hover:text-accent
      transition-all duration-300
    `}
  />
  <h3 class="font-bold text-2xl transition-all duration-300">{name}</h3>
  <div class="font-medium grow">
    <slot />
  </div>
  <div class="border-t-2 border-primary p-1 pt-3 transition-all duration-300">
    <div class="flex flex-wrap gap-2">
      {
        stack &&
          stack.map((s) => {
            const t = techStackMap[s];

            return (
              <div
                style={`background-color: ${t.color}50; outline: 1px solid ${t.color}90`}
                class="flex items-center gap-1 rounded-lg p-1.5"
              >
                <img src={t.path} class="size-5 shrink-0" alt={t.name} />
                <p>{t.name}</p>
              </div>
            );
          })
      }
    </div>
  </div>
</a>
